version: 2.1

orbs:
  cicd: sedstart/cicd@dev:1
jobs:
  run-sedstart-cloud:
    docker:
      - image: cimg/node:25.2.1
    steps:
      - cicd/runcloud:    
          api_key: SEDSTART_API_KEY     
          project_id: 418
          test_id: 2225
          profile_id: 000
          browser: "chrome"
          headless: true
          environment: "QA"
workflows:
  test-workflow:
    jobs:
      - run-sedstart-cloud
