version: 2.1
orbs:
  cicd: sedstart/cicd@dev:1
jobs:
  test:
    docker:
      - image: cimg/node:25.2.1
    steps:
      - cicd/runlocal:    
          api_key: SEDSTART_API_KEY      
          project_id: 
          test_id: 
          profile_id: 
          browser: "firefox"
          headless: true
          environment: "QA"
workflows:
  test-workflow:
    jobs:
      - test
